* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 40vw;
  height: 200px;
  margin: 20px auto;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  margin: 10px auto;
}

.alert .success {
  background-color: pink;
}

.alert .failure {
  background-color: rgba(255, 0, 0, 0.678);
}
button,
span {
  cursor: pointer;
}

button {
  width: fit-content;
  padding: 5px;
  background-color: rgba(52, 52, 184, 0.733);
  border: none;
  border-radius: 3px;
  margin-left: 3px;
}

.clear-all {
  margin: 0 auto;
}

.list,
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.list .container .item {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
}
