* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.CartItem {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.CartItem .image {
  display: flex;
}

.amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 5px;
}

.clearAll {
  margin: 0 auto;
  width: fit-content;
}

.refresh {
  margin: 0 auto;
  width: fit-content;
}
